@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@200;300;400;500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Livvic", sans-serif;
  font-weight: 600;
  color: #fff;
  line-height: 2.8rem;
}
.container {
  max-width: 1150px;
  margin: 0 auto;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
}
@media (max-width: 1200px) {
  .container {
    padding: 0px 50px;
  }
}
@media (max-width: 450px) {
  .container {
    padding: 0px 30px;
  }
}
@media (min-width: 1500px) {
  .container {
    max-width: 1480px;
  }
}
